<div class="head-logo">
    <a href="/" class="logo">Decode Blog</a>
</div>
<div class="head-search">
    <input type="text" placeholder="Поиск по блогам">
    <button class="head-btn">
        <img src="images/icons/search.svg" alt="">
        Найти
    </button>
</div>