<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="//db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <header>
        <div class="head-logo">
            <h2 class="logo">Decode Blog</h2>
        </div>
        <div class="head-search">
            <input type="text" placeholder="Поиск по блогам">
            <button class="head-btn">
                <img src="images/icons/search.svg" alt="">
                Найти
            </button>
        </div>
        <div class="head-buttons">
            <button class="head-btn">Регистрация</button>
            <button class="head-btn">Вход</button>
        </div>
    </header>
    <div class="login-fill">
        <h3 class="h3">Вход</h3>
        <input type="text" placeholder="Введите E-mail">
        <input type="text" placeholder="Введите пароль">
        <button class="edit-btn">Войти</button>
    </div>
</body>
</html>