<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')  %>
    <title>Login</title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs')  %>
        <div class="head-buttons">
            <a href="/registration" class="head-btn">Регистрация</a>
            <a href="/login" class="head-btn">Вход</a>
        </div>
    </header>
    <div class="login-fill">
        <h3 class="h3">Вход</h3>
        <input type="text" placeholder="Введите E-mail">
        <input type="text" placeholder="Введите пароль">
        <button class="edit-btn">Войти</button>
    </div>
</body>
</html>