<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myblog</title>
    <link href="//db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <header>
        <div class="head-logo">
            <h2 class="logo">Decode Blog</h2>
        </div>
        <div class="head-search">
            <input type="text" placeholder="Поиск по блогам">
            <button class="head-btn">
                <img src="images/icons/search.svg" alt="">
                Найти
            </button>
        </div>
        <div class="head-buttons">
            <div class="head-img">
                <img src="/images/avatar.png" alt="">
            </div>
        </div>
    </header>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-top">
                    <h3 class="h3">Мои блоги</h3>
                    <button class="edit-btn">Новый блог</button>
                </div>
                <div class="content">
                    <div class="content-img">
                        <img src="images/image1.png" alt="">
                    </div>
                    <div class="content-top">
                        <h4 class="h4">Обзор Report Manager от Webix</h4>
                        <p class="toggle-dropdown">
                            <img src="/images/icons/tripledot.svg" alt="">
                            Еще
                        </p>
                        <div class="content-dropdown">
                            <span>Редактировать</span>
                            <span>Удалить</span>
                        </div>
                    </div>
                    <p>
                        Осень 2020 года стала плодотворным временем для специалистов Webix.
                        <br><br>
                        Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье.
                        <br><br>
                        Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его
                    </p>
                    <div class="content-info">
                        <p>
                            <img src="images/icons/calendar.svg" alt="">
                            26.06.2020
                        </p>
                        <p>
                            <img src="images/icons/eye.svg" alt="">
                            21
                        </p>
                        <p>
                            <img src="images/icons/shape.svg" alt="">
                            4
                        </p>
                        <p>
                            <img src="images/icons/fill.svg" alt="">
                            Веб-разработка
                        </p>
                        <p>
                            <img src="images/icons/user.svg" alt="">
                            Nast1289
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="content-img">
                        <img src="images/image2.png" alt="">
                    </div>
                    <h4 class="h4">Обзор Report Manager от Webix</h4>
                    <p>
                        Осень 2020 года стала плодотворным временем для специалистов Webix.
                        <br><br>
                        Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье.
                        <br><br>
                        Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его
                    </p>
                    <div class="content-info">
                        <p>
                            <img src="images/icons/calendar.svg" alt="">
                            26.06.2020
                        </p>
                        <p>
                            <img src="images/icons/eye.svg" alt="">
                            21
                        </p>
                        <p>
                            <img src="images/icons/shape.svg" alt="">
                            4
                        </p>
                        <p>
                            <img src="images/icons/fill.svg" alt="">
                            Веб-разработка
                        </p>
                        <p>
                            <img src="images/icons/user.svg" alt="">
                            Nast1289
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="user">
            <div class="user-img">
                <img src="images/avatar.png" alt="">
            </div>
            <p style="font-weight: 700;">Елнур Сейтжанов</p>
            <p>В основном пишу про веб - разработку, на React & Redux</p>
            <p>285 постов за все время</p>
            <button class="edit-btn">Регистрация</button>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>