<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')  %>
    <title>Blog</title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs')  %>
        <div class="head-buttons">
            <div class="head-img">
                <img src="/images/avatar.png" alt="">
            </div>
        </div>
    </header>
    <div class="container">
        <div class="main">
            <div class="new-blog">
                <h3 class="h3">Новый блог</h3>
                <input type="text" placeholder="Введите заголовок блога">
                <button class="cat-select">
                    Выберите категорию
                    <img src="images/icons/arrow-bot.svg" alt="">
                </button>
                <button class="select-img">Выберите картинку</button>
                <textarea name="" id="" cols="30" rows="10" placeholder="Введите описание блога"></textarea>
                <button class="edit-btn" style="width: 16%;">Создать</button>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>