.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.form fieldset{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}